html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #cab47c;
    color: #333;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #346038;
    box-shadow: 0 2px 4px rgba(127, 168, 50, 0.1);
    width: 100%;
    position: relative;
}

.menu {
    display: flex;
    gap: 0px;
    margin-left: 1000px;
}

.menu-item {
    text-decoration: none;
    color: #cab47c;
    font-weight: bold;
    transition: color 0.3s;
    margin-right: 100px;
}

.menu-item:hover {
    color: #346038;
}

.name {
    display: flex;
}

.site-name {
    text-decoration: none;
    color: #cab47c;
    font-weight: bold;
    font-size: 25px;
    transition: color 0.3s;
}

.site-name:hover {
    color: #346038;
}

.passos h1 {
    font-family: Roboto;
    color: #181B18;
    margin-left: 50px;
    margin-top: 40px;
    font-size: 1.5rem;
}

.Passo h2 {
    font-family: Roboto;
    color: #181B18;
    margin-left: 400px;
    margin-top: 100px;
    font-size: 1.5rem;
}

/* Imagem */
#display-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 10px; /* Ajuste para aproximar a tabela */
}

/* Tabela dos tons de pele */
.skin-tone-container {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    margin-top: 10px;
    transform: translate(0, -290px);
    margin-left: -50px; /* Ajuste para deixar a tabela mais próxima da imagem */
}

/* Estilos para as linhas da tabela */
.skin-tone-row {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.skin-tone-row:hover {
    border-color: #346038;
}

.skin-tone-row.selected {
    border-color: #ff0000;
}

/* Botão de Envio */
.enviar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.envio-btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #346038;
    color: #cab47c;
    border-radius: 20px;
    transition: background-color 0.3s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.envio-btn:hover {
    background-color: #28502f;
}

/* Rodapé */
footer {
    background-color: #346038;
    color: #cab47c;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    flex-shrink: 0;
}

.footer-content p {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Media Query para ajustar layout em telas menores */
@media screen and (max-width: 1378px) {
    .skin-tone-container {
        transform: translate(-10%, -220px);
    }

    .Passo h2 {
        margin-left: 10px;
    }

    #uploaded-image, #display-image {
        width: 300px;
        height: auto;
        max-width: 100%;
        transform: translate(30px, 60px);
    }

    .envio-btn {
        transform: translate(-100%, -250%);
    }
}


   
 

